* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
    height: -ms-fill-available;
    height: -moz-fill-available;
    height: -o-fill-available;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d3800;
    min-height: 100vh;
    height: 100vh;
    height: -webkit-fill-available;
}

html,
body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.face {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #ffcd00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face:before {
    content: "";
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background-color: #b57700;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.face:hover::before {
    top: 210px;
    width: 150px;
    height: 30px;
    background-color: #b57700;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.5s;
}
.eyes {
    position: relative;
    top: -40px;
    display: flex;
}

.eyes .eye {
    width: 80px;
    height: 80px;
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 15px;
}

.eye:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 25px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    transition: 0.5s;
}

/* .container {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
} */
